body {
background-color:#dfd4be;
color:#2D4581 ;
font-family: 'Times New Roman', Times, serif;
}

@font-face {
    font-family: 'radio';
    src:url('fonts/radio.otf');
}

div.title {
    font-size: 44px;
    font-family: 'radio';
    margin-top: 40px;
    margin-bottom: 40px;
}

div.quote {
    font-size: 30px;
    font-family: 'radio';
    text-align: right;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.text1 {
    font-size: 21px;
    width: 400px;
}

div.text2 {
    font-size: 21px;
}