body {
background-color:#dfd4be;
color:#2D4581 ;
font-family: Arial, Helvetica, sans-serif;
}

div.title {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.quote {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    width: 400px;
}